<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">View</a>
  </div>
  <div class="carousel-item pic">
  </div>
  {{carousel-img}}
  <div class="carousel-item red">
  </div>
</div>

<nav>
   <div class="nav-wrapper white">
     <span class="button-collapse" data-activates="sideNav"><i class="fa fa-bars fa-2x"></i></span>

     <ul class="side-nav" id="sideNav">
       <li><a href="/">Homepage</a></li>
       <li><a href="/news-page">News</a></li>
       <li><a href="/entertainment-page">Enterainment</a></li>
       <li><a href="/beauty-page">Gaming</a></li>
       <li><a href="/fashion-page">Sports</a></li>
       <li><a href="/books-page">National Geographic</a></li>
       <hr>
       <li><a href="about-page">About Us</a></li>
     </ul>
   </div>
 </nav>
