<nav>
   <div class="nav-wrapper">
     <span class="button-collapse" data-activates="sideNav"><i class="fa fa-bars fa-2x"></i></span>

     <ul class="side-nav" id="sideNav">
       <li><a href="#">Homepage</a></li>
       <li><a href="#">News</a></li>
       <li><a href="#">Enterainment</a></li>
       <li><a href="#">Beauty</a></li>
       <li><a href="#">Beauty</a></li>
       <li><a href="#">Fashion</a></li>
       <li><a href="#">Books</a></li>
       <li><a href="#">Flow Charts</a></li>
       <hr>
       <li><a href="#">About Us</a></li>
       <li><a href="#">Advertise</a></li>
       <li><a href="#">Apps</a></li>
       <li><a href="#">Labs</a></li>
     </ul>
   </div>
 </nav>
